#gamepad-viewer {
    position: relative;
    width: 500px;
    height: 300px;
}

/* #controller-body {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */

div {
    pointer-events: none;
    user-select: none;
}

/* Variable Overlays */
.overlay-container {
    display: flex;
    position: relative;
}

.overlay {
    position: absolute;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
}

/* Bumpers (Clutch)*/
#button-left-bumper {
    width: 85px;
    opacity: 0.5;
}

/* Triggers (Front Brake, Gas Throttle) */
#button-left-trigger {
    width: 85px;
    opacity: 0.5;
}

#button-right-trigger {
    width: 85px;
    opacity: 0.5;
}

/* Left Joystick (Handlebars Steering) */
.joystick-left {
    width: 250px;
    opacity: 0.5;
}

/* Right Joystick (Rider Lean) */
.circle {
    position: relative;
    width: 300px;
    height: 300px;
    border: 3px solid #333;
    border-radius: 50%;
    overflow: hidden;
}
  
.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

/* Left Trigger (Front Brake) */
#front-brake-container {
    height: 200px;
}

#frontBrakeOverlay {
    width: 85px;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
}

/* Right Trigger (Gas Throttle) */
#enginer-container {
    height: 200px;
}

#engineOverlay {
    width: 85px;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
}

/*  Right Buttons (Rear Brake) */
#button-a {
    width: 85px;
    top: 150px;
    left: 200px;
    z-index: 2;
    opacity: 0.5;
}